<header>
    <% if user_signed_in?%>
        <h3>Welcome, <%= current_user.login%></h3>
       
    <% else %>
        <%= link_to "Sign In", new_user_session_path, :method => :get %>
        <%= link_to "Sign up", new_user_registration_path, :method => :get %>
    <% end %>
</header>